:root {
  font-family: 'Space Grotesk', sans-serif;
  color: #243746;
  background: #f2eadb;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

code {
  font-family: 'IBM Plex Mono', monospace;
}
